<mat-toolbar color="primary">
  <span>Planner |</span>
  {{ company }}
  <button mat-button (click)="selectWC()">Select W.C</button>
  <span>|</span>
  <button mat-button [matMenuTriggerFor]="userOptions">{{ userName }}</button>
  <mat-menu #userOptions="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="settings">Settings</button>
    <button mat-menu-item (click)="adminSettings()">Admin Settings</button>
    <button mat-menu-item (click)="manualBtn()">Manual</button>
    <button mat-menu-item (click)="logOut()">Logout</button>
  </mat-menu>

  <mat-menu #settings="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="language">Language</button>
    <button mat-menu-item [matMenuTriggerFor]="changeCompany">
      Change Company
    </button>
    <button mat-menu-item (click)="backToDefault()">
      Back to Deafualt Mode
    </button>
  </mat-menu>

  <mat-menu #language="matMenu">
    <button mat-menu-item (click)="setPlannerInEnglish('english')">
      English
    </button>
    <button mat-menu-item (click)="setPlannerInEnglish(' ')">
      Local language
    </button>
  </mat-menu>

  <mat-menu #changeCompany="matMenu">
    <button
      mat-menu-item
      *ngFor="let company of companyList"
      (click)="selectCompany(company)"
    >
      {{ company }}
    </button>
  </mat-menu>
</mat-toolbar>
