.separator {
  width: 1px;
  height: 24px;
  background-color: #ffffff;
  margin: 0 8px; /* Adjust the margin value to control the spacing between buttons */
  display: inline-block;
}
.logo {
  font-family: "Bebas Neue", sans-serif;
  font-family: "Lobster", cursive;
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
}
