.schedular {
  overflow: auto;
  height: 550px;
}
.center-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 30em !important;
}

.sticky-toolbar {
  position: sticky;
  top: 0;
  z-index: 10;
}
.overlay {
  height: 100%;
  width: 100%;
  z-index: 0;
  top: 500;
  left: 500;
  // position: fixed;
}
.bryntum-scheduler {
  min-height: 30em !important;
}
.progress-bar {
  margin-left: 50%;
  margin-top: 200px;
}

/* Customize scrollbar */
.schedular::-webkit-scrollbar {
  width: 10px;
}

.schedular::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.schedular::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

/* Customize scrollbar */
.bryntumSchedular::-webkit-scrollbar {
  width: 10px;
}

.bryntumSchedular::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.bryntumSchedular::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
