<div class="schedular">
  <div *ngIf="showDialog" class="schedular__dialog">
    <app-loaded-order-dialog
      (onCloseDialog)="closeDialog()"
      [dataSource]="dataSource"
    ></app-loaded-order-dialog>
  </div>
  <app-schedular-toolbar class="sticky-toolbar"></app-schedular-toolbar>
  <mat-progress-spinner
    class="progress-bar"
    mode="indeterminate"
    *ngIf="globalService.progressBar; else project"
  ></mat-progress-spinner>
  <ng-template #project class="bryntum-scheduler">
    <bryntum-project-model
      #project
      [resources]="resources"
      [events]="events"
      [assignments]="assignments"
      [dependencies]="dependencies"
    >
    </bryntum-project-model>

    <bryntum-scheduler-pro
      #schedulerpro
      (onEventClick)="onEventClick($event)"
      class="app-scheduler"
      cdkDropList
      (cdkDropListDropped)="onDrop($event)"
      [columns]="schedulerProConfig.columns"
      [features]="schedulerProConfig.features"
      [startDate]="schedulerProConfig.startDate!"
      [endDate]="schedulerProConfig.endDate!"
      [listeners]="schedulerProConfig.listeners"
      [features]="schedulerProConfig.features"
      [project]="project"
      [viewPreset]="hourAndDay2"
    ></bryntum-scheduler-pro>
  </ng-template>
  <app-unloaded-orders></app-unloaded-orders>
  <div cdkDropList (cdkDropListDropped)="dropTable($event)">
    <!-- Render dropped rows here -->
  </div>
</div>
