<div class="table-container" style="top: 90%" *ngIf="dataSource.data.length">
  <hr />
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>Order Number</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>

    <ng-container matColumnDef="itemNumber">
      <th mat-header-cell *matHeaderCellDef>Item Number</th>
      <td mat-cell *matCellDef="let element">{{ element.itemNumber }}</td>
    </ng-container>

    <ng-container matColumnDef="itemDesc">
      <th mat-header-cell *matHeaderCellDef>Item Description</th>
      <td mat-cell *matCellDef="let element">{{ element.itemDesc }}</td>
    </ng-container>

    <ng-container matColumnDef="orderQuantity">
      <th mat-header-cell *matHeaderCellDef>Order Quantity</th>
      <td mat-cell *matCellDef="let element">{{ element.orderQuantity }}</td>
    </ng-container>

    <ng-container matColumnDef="currentStation">
      <th mat-header-cell *matHeaderCellDef>Current Station</th>
      <td mat-cell *matCellDef="let element">{{ element.currentStation }}</td>
    </ng-container>

    <ng-container matColumnDef="operation">
      <th mat-header-cell *matHeaderCellDef>operation</th>
      <td mat-cell *matCellDef="let element">{{ element.operation }}</td>
    </ng-container>

    <ng-container matColumnDef="currentOper">
      <th mat-header-cell *matHeaderCellDef>currentOper</th>
      <td mat-cell *matCellDef="let element">{{ element.currentOper }}</td>
    </ng-container>

    <ng-container matColumnDef="promiseDate">
      <th mat-header-cell *matHeaderCellDef>promiseDate</th>
      <td mat-cell *matCellDef="let element">{{ element.promiseDate }}</td>
    </ng-container>

    <ng-container matColumnDef="requestDate">
      <th mat-header-cell *matHeaderCellDef>requestDate</th>
      <td mat-cell *matCellDef="let element">{{ element.requestDate }}</td>
    </ng-container>

    <ng-container matColumnDef="requestWeek">
      <th mat-header-cell *matHeaderCellDef>requestWeek</th>
      <td mat-cell *matCellDef="let element">{{ element.requestWeek }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
