.unloaded-orders {
  padding: 15px;
}
.table-container {
  height: 300px; /* Adjust the height as per your requirements */
  overflow: auto;
}
table.mat-table {
  width: 100%;
}

td.mat-cell,
th.mat-header-cell {
  white-space: nowrap; /* Prevent cell content from wrapping */
}
