<mat-dialog-content>
  <div *ngIf="showComponent" class="select-wc" cdkDragBoundary=".main" cdkDrag>
    <h1 style="padding-right: 10px">Select Work Center</h1>
    <form #loginForm="ngForm" (submit)="onSubmit(loginForm)">
      <span style="padding-right: 80px">Factory :</span>
      <mat-form-field>
        <mat-label>Factory</mat-label>
        <mat-select
          name="factory"
          [ngModel]
          (selectionChange)="onFactoryChange($event.value)"
        >
          <mat-option
            *ngFor="let factory of factoriesArray"
            [value]="factory.Code"
            >{{ factory.Name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br />
      <span style="padding-right: 5px">Work Center Type :</span>
      <mat-form-field>
        <mat-label>Work Center Type</mat-label>
        <mat-select name="workCenterType" [ngModel]>
          <mat-option
            *ngFor="let workCenter of workCentersArray['wcTypes']"
            [value]="workCenter.TpCode"
            >{{ workCenter.TpName }}</mat-option
          >
        </mat-select>
      </mat-form-field>
      <br />
      <span style="padding-right: 45px">Work center :</span>
      <mat-form-field>
        <mat-label>Work Center</mat-label>
        <mat-select
          name="workCenter"
          [ngModel]
          (selectionChange)="onWorkCenterChange($event.value)"
        >
          <mat-option
            *ngFor="let workCenter of workCentersArray['workCenters']"
            [value]="workCenter.Code"
            >{{ workCenter.Name }}</mat-option
          >
        </mat-select>
      </mat-form-field>
      <br />
      <span style="padding-right: 70px">Machine :</span>
      <mat-form-field>
        <mat-label>Machine</mat-label>
        <mat-select name="machine" [ngModel]>
          <mat-option
            *ngFor="let machine of machineArray"
            [value]="machine.machId"
            >{{ machine.Name }}</mat-option
          >
        </mat-select>
      </mat-form-field>
      <br />
      <span style="padding-right: 10px">Oprations before :</span>
      <mat-form-field style="width: 100px">
        <mat-select name="numberOfOprationsBefore" [ngModel]>
          <mat-option *ngFor="let number of numbers" [value]="number">{{
            number
          }}</mat-option>
        </mat-select>
      </mat-form-field>
      <br />
      <mat-checkbox
        name="includeOfficeCheckBox"
        [(ngModel)]="includeOfficeCheckBox"
        >Include office operations</mat-checkbox
      >
      <br />
      <mat-checkbox name="viewModeCheckBox" [(ngModel)]="viewModeCheckBox"
        >View mode</mat-checkbox
      >
      <br />
      <div>
        <button mat-raised-button type="submit" color="primary">Go</button>
      </div>
    </form>
  </div>
</mat-dialog-content>
