<mat-form-field>
  <mat-label>Factory</mat-label>
  <mat-select [(value)]="selectedFactory">
    <mat-option *ngFor="let factory of factories" value="option1">{{
      factory.Name
    }}</mat-option>
  </mat-select>
</mat-form-field>
<br />
<mat-form-field>
  <mat-label>Work Center Type</mat-label>
  <mat-select [(value)]="selectedWorkCenterType">
    <mat-option *ngFor="let workCenter of workCenterType" value="option1">{{
      workCenter.TpName
    }}</mat-option>
  </mat-select>
</mat-form-field>
<br />
<mat-form-field>
  <mat-label>Work Center Type</mat-label>
  <mat-select [(value)]="selectedWorkCenter">
    <mat-option *ngFor="let workCenter of workCenters" value="option1">{{
      workCenter.Name
    }}</mat-option>
  </mat-select>
</mat-form-field>
