.select-wc {
  width: 600px;
  margin: 0 auto;
  position: relative;
  margin-top: 50px;
  border: 1px solid #747474;
  box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
  border-radius: 4px;
}
